@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.3019607843);
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 50;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__logo-link {
  display: inline-block;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 50px;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 25px;
}

.navbar__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  color: white;
  transition: color 0.4s;
  text-transform: uppercase;
}
.navbar__link:hover {
  color: #FF7D44;
}

.navbar__phone-number {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 10px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  transition: color 0.3s;
}
.navbar__phone-number:hover {
  color: #FF7D44;
}

.hero-section {
  height: 100vh;
  padding: 180px 0 93px;
  background-image: url(../images/image\ 3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  background-attachment: fixed;
}

.hero {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
}

.hero__form {
  width: 449px;
  padding: 25px;
  border-radius: 10px;
  background: rgba(58, 58, 58, 0.5019607843);
}

.form__subcontent-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 36.31PX;
  color: white;
  text-transform: capitalize;
  margin-bottom: 8px;
  display: inline-block;
}

.form__text {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36PX;
  color: white;
  text-transform: capitalize;
  margin-bottom: 25px;
  color: rgba(255, 255, 255, 0.8);
}

.form__label {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
}

.form__label-content {
  font-size: 15px;
  font-weight: 400;
  line-height: 18PX;
  color: white;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.form__label:last-child > .form__input {
  background-image: url(../images/calendar_line.svg);
}

.form__input {
  font-size: 16px;
  font-weight: 400;
  line-height: 19PX;
  color: black;
  text-transform: capitalize;
  margin-bottom: 0px;
  padding: 16px 0 16px 46px;
  outline: none;
  border-radius: 12px;
  border: none;
  background-image: url(../images/页面-1.svg);
  background-repeat: no-repeat;
  background-size: 24px, 24px;
  background-position: 14px center;
}
.form__input ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3803921569);
}
.form__input ::placeholder {
  color: rgba(0, 0, 0, 0.3803921569);
}

.hero__content-wrapper {
  width: 576px;
  padding-top: 43px;
}

.hero__top-text {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 16PX;
  color: white;
  text-transform: Uppercase;
  margin-bottom: 11px;
  padding-left: 34px;
}
.hero__top-text::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url(../images/Vector\ \(6\).svg);
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}

.hero__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 57.76PX;
  color: white;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.hero__bottom-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2PX;
  color: white;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.form__radio-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  padding-bottom: 25px;
  margin-top: 8px;
  border-bottom: 1px solid #E0E0E0;
}

.form__label-radio {
  font-size: 15px;
  font-weight: 400;
  line-height: 18PX;
  color: white;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.form__radio-label {
  width: 49%;
  padding: 15px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.form__custum-radio {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
}

.radio_input:checked ~ .form__custum-radio {
  background-color: blue;
}

.service-section {
  padding: 118px 0 169px;
}

.service__content-wrapper {
  text-align: center;
  margin-bottom: 96px;
}

.container__cards {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 33px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.service__content-wrapper > h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 45.99PX;
  color: rgba(0, 0, 0, 0.8705882353);
  text-transform: capitalize;
  margin-bottom: 8px;
}

.service__content-wrapper > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24PX;
  color: rgba(0, 0, 0, 0.8705882353);
  text-transform: capitalize;
  margin-bottom: 0px;
}

.service__item {
  cursor: pointer;
  width: 354px;
  border-radius: 5px;
  height: 465px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 2px 4px 0 gray;
}
.service__item:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s;
}
.service__item:hover > .service__img {
  height: 238px;
}
.service__item:hover > .service__hidden-content {
  bottom: 0;
}

.service__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
}

.service__subcontent {
  padding: 20px;
  position: absolute;
  bottom: 0;
}

.service__hidden-content {
  padding: 20px;
  position: absolute;
  bottom: -100%;
  height: 48%;
  transition: 0.5s;
}

.service__hidden-content > h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05PX;
  color: rgba(0, 0, 0, 0.8705882353);
  text-transform: capitalize;
  margin-bottom: 10px;
}

.service__hidden-content > p {
  font-size: 14px;
  font-weight: 700;
  line-height: 20PX;
  color: rgba(0, 0, 0, 0.8705882353);
  text-transform: capitalize;
  margin-bottom: 15px;
}

.service__hidden-content > a {
  font-size: 15px;
  font-weight: 500;
  line-height: 18PX;
  color: #FF7D44;
  text-transform: capitalize;
  margin-bottom: 15px;
  padding-right: 30px;
}
.service__hidden-content > a::after {
  content: "";
  position: absolute;
  right: 235px;
  bottom: 27px;
  margin: auto 0;
  width: 13px;
  height: 18px;
  background-image: url(../images/Vector\ \(7\).svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.service__subcontent > h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05PX;
  color: white;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.service__subcontent > p {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.pro-section {
  width: 1440px;
  height: 288px;
  padding: 75px 125px;
  background-image: url(../images/Background.png);
  background-repeat: no-repeat;
  margin: 0 auto 100px;
  background-position: center center;
  background-size: 100%;
}

.pro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.pro__content-wrapper {
  width: 279px;
}

.pro__content-wrapper > h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 40PX;
  color: white;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.pro__content-wrapper > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19PX;
  color: white;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.pro__list {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 55px;
}

.count > strong {
  font-size: 50px;
  font-weight: 600;
  line-height: 60PX;
  color: white;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.count > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19PX;
  color: white;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.count__img-wrapper {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
  border-radius: 15px;
  background: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.us__our {
  width: 1134px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.us__list {
  width: 542px;
}

.us__item > h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 45PX;
  color: black;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.us__item > h2 > span {
  color: #FF7D44;
}

.us__item > p {
  width: 542px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24PX;
  color: rgba(0, 0, 0, 0.6784313725);
  text-transform: capitalize;
  margin-bottom: 50px;
}

.our__list {
  width: 542px;
}

.our__item > img {
  margin-bottom: 50px;
}

.our__item > h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 45PX;
  color: black;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.our__item > h2 > span {
  color: #FF7D44;
}

.our__item > p {
  width: 516px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24PX;
  color: rgba(0, 0, 0, 0.6784313725);
  text-transform: capitalize;
  margin-bottom: 0px;
}/*# sourceMappingURL=main.css.map */